Repository mokkun55/yurigaoka-app-student: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, tsc

eslint:
  run: pnpm run eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: pnpm run prettier --write {staged_files}
  stage_fixed: true

tsc:
  run: pnpm run tsc

fix lefthook.yml
  cspell.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: add workflows
  .github/workflows/tsc.yml
Due: none

fix: tsc error
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

fix
  pnpm-lock.yaml
Due: none

feat: chromatic ci
  .github/workflows/chromatic.yml
  package-lock.json
  package.json
Due: eslint, prettier

feat: create github actions
  .github/workflows/chromatic.yml
Due: none

feat: add build storybook to github pages
  .github/workflows/build-storybook.yml
Due: none

Update .github/workflows/build-storybook.yml
  .github/workflows/build-storybook.yml
Due: none

add empty public directory for storybook build
  public/.gitkeep
Due: none

fix: build error
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat: lefthook spellcheck
  lefthook.yml
  package.json
Due: eslint, prettier

feat: eslintの拡張子を変更
  eslint.config.mjs
  tsconfig.json
Due: eslint, prettier

名字と名前の間の空白を禁止
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: actionsを作成
  src/app/(login)/create-user/actions.ts
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: 指導寮生 -> 4,5年 への変更
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

wip: ユーザー登録機能(DB)
  package.json
  src/_components/user-info/index.tsx
  src/app/(login)/create-user/actions.ts
  src/utils/supabase/database.types.ts
  src/utils/supabase/middleware.ts
  src/utils/supabase/server.ts
Due: eslint, prettier, tsc

feat: middlewareに追記
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

feat: 部活オプションの追加
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: 住所のplaceholderを修正
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: clubの型を厳重に
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: 氏名のplaceholderの修正
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: 氏名学年 クラス 部活 部屋番号の保存
  src/app/(login)/create-user/actions.ts
  src/app/(login)/create-user/page.tsx
  src/utils/supabase/database.types.ts
Due: eslint, prettier, tsc

feat: 電話番号を緊急連絡先に変更
  src/app/(login)/create-user/actions.ts
  src/app/(login)/create-user/page.tsx
  src/utils/supabase/database.types.ts
Due: eslint, prettier, tsc

feat: 帰省先の登録
  src/app/(login)/create-user/actions.ts
  src/utils/supabase/database.types.ts
Due: eslint, prettier, tsc

fix
  src/app/(login)/create-user/actions.ts
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: 招待コード認証機能
  src/app/(login)/create-user/actions.ts
  src/app/(login)/create-user/page.tsx
  src/utils/supabase/database.types.ts
Due: eslint, prettier, tsc

feat: 登録後ルートに戻るように
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: cookieの追加
  src/app/(login)/create-user/page.tsx
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

feat: ローディングステートの追加
  src/app/(login)/create-user/page.tsx
Due: eslint, prettier, tsc

feat: routing v2
  src/app/(login)/student/create-user/actions.ts
  src/app/(login)/student/create-user/page.tsx
  src/app/(login)/teacher/create-user/actions.ts
  src/app/(login)/teacher/create-user/page.tsx
  src/app/(student)/.gitkeep
  src/app/(teacher)/.gitkeep
  src/app/student/page.tsx
  src/app/teacher/page.tsx
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

del: いらないファイル
  src/app/(login)/teacher/create-user/actions.ts
  src/app/(login)/teacher/create-user/page.tsx
Due: eslint, prettier, tsc

feat: middleware の cookie の有効期限を 5 分に設定 & ログインパスの判定を修正
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

パス判定用の配列（loginPaths, createUserPaths, registerExcludePaths）を関数外で定義し、毎回関数呼び出し時に生成しないよう修正
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

refactor: パス配列とis_registeredクッキー有効期限を定数化・リファクタリング
  src/utils/supabase/middleware.ts
Due: eslint, prettier, tsc

feat: コンポーネント名をパスカルケースに
  src/app/student/page.tsx
  src/app/teacher/page.tsx
Due: eslint, prettier, tsc

student home画面の実装
  src/_components/ui/application-card/index.tsx
  src/_components/ui/footer/index.tsx
  src/_components/ui/header/index.tsx
  src/_components/ui/notice-card/index.tsx
  src/app/page.tsx
Due: eslint, prettier, tsc

帰省・欠食届のリンクを修正
  src/app/page.tsx
Due: eslint, prettier, tsc

fix: 帰省届のフォームを実装
  src/_components/ui/checkbox/checkbox-field/index.tsx
  src/app/absence/home/page.tsx
Due: eslint, prettier, tsc

サーバーアクションの実装
  src/app/absence/home/actions.ts
  src/app/absence/home/page.tsx
Due: eslint, prettier, tsc

time inputを使う
  src/_components/ui/input/date-input/index.tsx
Due: eslint, prettier, tsc

Path conditions:
  eslint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc: any of: *.{js,ts,tsx}
